<form [formGroup]="trxForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="entry-card">
    <mat-card-header>
      <mat-card-title>Entry Reksadana Transaction</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <input matInput placeholder="RDN Name" formControlName="rdn" [matAutocomplete]="rdnList">
              </mat-form-field>
              <mat-autocomplete #rdnList="matAutocomplete" [displayWith]="renderSuggestion">
                <mat-option *ngFor="let rdn of suggestedRdnList$|async" [value]="rdn">{{rdn.name}}</mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label id="actionLabel">Action</label>
              <mat-radio-group aria-labelledby="actionLabel" formControlName="action">
                <mat-radio-button value="1">Buy</mat-radio-button>
                <mat-radio-button value="-1">Sell</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Action Date" formControlName="actionDate"
                       (click)="picker.open()" [matDatepickerFilter]="actionDateFilter" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Amount" formControlName="amount" type="number"
                       (keyup)="refreshTotalUnit()">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <input matInput placeholder="Total Unit" [value]="totalUnit|number:'1.0':'en-id'" readonly>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col" [hidden]="!trxForm.value.rdn || !trxForm.value.actionDate">
              <label id="tableLabel">Possible NAB</label>
              <table mat-table [dataSource]="nabDates$|async" class="mat-elevation-z1 full-width"
                     aria-labelledby="tableLabel">
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-radio-button (change)="updateNab(row)" [checked]="isSelected(row)">
                    </mat-radio-button>
                  </td>
                </ng-container>
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> NAB Date</th>
                  <td mat-cell *matCellDef="let nabDate"> {{nabDate.date|date:'dd-MM-yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="nab">
                  <th mat-header-cell *matHeaderCellDef> NAB</th>
                  <td mat-cell *matCellDef="let nabDate"> {{nabDate.nab|currency:"Rp. ":'code':'':'id'}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updateNab(row)"></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!trxForm.valid || selectedNab.isEmpty()">Submit
      </button>
    </mat-card-actions>
  </mat-card>
</form>
