<ng-template [ngIf]="profitData && profitPercentageData && nabData">
  <mat-tab-group class="tab" #tab
                 (selectedTabChange)="filter.hidden=(tab.selectedIndex>1)">
    <mat-tab label="Profit (%)">
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="profitPercentageData"
                        class="chart"
                        #profitPercentageChart
      ></highcharts-chart>
    </mat-tab>
    <mat-tab label="Profit (Rp.)">
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="profitData"
                        class="chart"
                        #profitChart
      ></highcharts-chart>
    </mat-tab>
    <mat-tab label="NAB">
      <highcharts-chart [Highcharts]="Highcharts"
                        [options]="nabData"
                        class="chart"
      ></highcharts-chart>
    </mat-tab>
  </mat-tab-group>
  <div class="center" #filter>
    <mat-slide-toggle #slider checked="true">Multiple Type</mat-slide-toggle>
    <mat-label class="filter-label">Filter by Type:</mat-label>
    <mat-button-toggle-group [multiple]="slider.checked"
                             (change)="filterType($event.value,profitPercentageChart,profitChart)">
      <mat-button-toggle *ngFor="let type of types;" [value]="type" checked="true">{{type}}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</ng-template>
